LINKEDIN_EMAIL=abcd@gmail.com
LINKEDIN_PASSWORD=xyz
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_MODEL=llama3
CHROME_PROFILE_DIR=./browser_profile
NEXTJS_API_URL=http://localhost:3000
